.header-div{
    color: white;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px 10px 10px 10px;
    align-items: center;
    /* box-shadow: 0px 0px 200px 0px rgba(142, 141, 141, 0.5); */
    /* background-color: #0D0D0D; */
    background-color: rgb(16, 25, 33);
    /* position: sticky;
    top: 0;
    transition: top 0.2s ease-in-out; */
    border-bottom: 2px solid rgba(73, 73, 73, 0.234);
}
.header-up {
    top: -70px; 
  }
.links-div{
    display: flex;
    width: 50%;
}
.links-div ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}
.page-link{
    list-style-type: none;
    color: white;
    border-radius: 10px;
}
.page-link a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 10px;
}

.page-link a:hover{
    background-color: rgba(123, 120, 120, 0.284);
    color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 5px 0px rgba(80, 80, 80, 0.5);
}