h1,
h2,
h3,
h4,
p {
  margin: 0;
}
.app-container {
  height: 100%;
  background-color: rgb(16, 25, 33) !important;
}
.landing-title {
  font-size: 50px;
  font-weight: 500;
  color: white;
  text-align: center;
  margin-bottom: 10px;
}
.landing-container {
  margin-top: 30px;
  padding-bottom: 100px;
  color: white;
}
.projects-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin-top: 50px;
  padding: 10px;
}
/* .project-card:hover{
    background-color: #1f1f1f;
    scale: 1.1;
    transition: 0.5s;
} */
.project-text {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100%;
  gap: 10px;
  width: 100%;
  padding: 25px;
  background-color: white;
  color: rgb(45, 45, 45);
}
.project-text p {
  font-size: large;
}
.project-text h2 {
  font-size: 25px;
  font-weight: 500;
  text-align: center;
  width: fit-content;
}
.project-img {
  height: 100%;
  width: 100%;
}
.project-img img {
  height: 100%;
  width: 100%;
}
.code-btn {
  padding: 7px;
  border-radius: 5px;
}
.blog-btn {
  padding: 7px;
  border-radius: 5px;
  border: 2px solid rgb(76, 89, 93);
}
.blog-btn:hover {
  background-color: rgb(76, 89, 93);
  color: white;
  transition: 0.5s;
}
.code-btn:hover {
  font-size: large;
  font-weight: bold;
  transition: 0.5s;
}
.carrousel-track {
  animation: slide 20s linear infinite;
  &:hover {
    animation-play-state: paused;
  }
}
